@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #de9c0caa 0%, #8a66ff 100%);
}

body.greenScreen {
  background-color: #00ff00;
  background-image: url("/src/assets/bg2.webp");
 background-size: 100% auto;   /* width fits the screen */
background-position: center top;
background-repeat: no-repeat;
}
